
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="news-details__left">
                <div class="news-details__img">
                    <img src="assets/images/blog/projetGd.jpg"  alt="bache au sol, escabeau et mur en attente de peinture">
                    <div class="news-details__date-box">
                        <p>Septembre 2023</p>
                    </div>
                </div>
                <div class="news-details__content">

                    <h3 class="news-details__title">10 étapes pour se lancer dans la rénovation</h3>

                    <p class="news-details__text-one">1- Évaluation des besoins et objectifs : Identifiez les raisons de la rénovation,
                        les problèmes à résoudre et les objectifs que vous souhaitez atteindre. Déterminez quelles pièces ou zones nécessitent
                        une attention particulière.</p>

                    <p class="news-details__text-two">2- Budget : Établissez un budget réaliste en prenant en compte les coûts de main-d'œuvre, de matériaux,
                        d'outils, et prévoyez une marge pour les imprévus.</p>

                    <p class="news-details__text-two">3- Recherche et inspiration : Explorez des sources d'inspiration telles que des magazines,
                        des sites web, et visitez des expositions pour définir le style que vous souhaitez pour votre maison rénovée.</p>


                    <p class="news-details__text-three">4- Sélection d'un professionnel : Engagez des professionnels compétents,
                        tels qu'un architecte, un designer d'intérieur, ou un entrepreneur général, en fonction des besoins de votre projet.</p>

                    <p class="news-details__text-three">5- Élaboration de plans : Travailler avec un professionnel pour élaborer des plans détaillés qui décrivent les modifications à apporter.
                        Cela inclut l'agencement des pièces, les modifications structurelles, et les détails techniques.</p>

                    <p class="news-details__text-three">6-Obtention des autorisations : Vérifiez les exigences en matière de permis de construction dans votre région
                        et assurez-vous d'obtenir toutes les autorisations nécessaires avant de commencer les travaux</p>


                    <p class="news-details__text-three">7-Choix des matériaux et des finitions : Sélectionnez les matériaux et les finitions en gardant
                        à l'esprit le style souhaité, la durabilité, et le budget.
                        Obtenez des devis détaillés pour chaque élément.</p>


                    <p class="news-details__text-three">8-Planification des travaux : Élaborez un calendrier réaliste pour les travaux, en prenant en compte
                        les étapes clés et en coordonnant les différents corps de métier.</p>

                    <p class="news-details__text-three">9-Exécution des travaux : Surveillez de près l'avancement du chantier, communiquez régulièrement avec les professionnels
                        et ajustez si nécessaire. Soyez prêt à résoudre les problèmes qui pourraient surgir..</p>

                    <p class="news-details__text-three">10-Finition et inspection : Lorsque les travaux sont terminés, effectuez une inspection approfondie pour vous assurer que tout est conforme
                        aux plans. Adressez les éventuels problèmes avant de finaliser le projet</p>

                </div>

                <div class="author-one mt-4">
                    <!--                                img 172x158 ou idem icone page Home  est plus grande-->
                    <div class="author-one__image">
                        <img src="assets/images/LOGO_ELODECO_1.png" width="128" alt="logo de l'entreprise">
                    </div>
                    <div class="author-one__content">
                        <h3>Elodie FAIVRE</h3>
                        <p>Créatrice et gérante de la société Elo Deco </p>
                    </div>
                </div>

                <div class="news-details__bottom">
                    <p class="news-details__tags">
                        <span>Tags:</span>
                        <a href="#">Immobilier</a>
                        {#                                <a href="#">Gestion</a>#}
                    </p>
                </div>
            </div>
        </div>