

<div class="news-one__single">
    <div class="news-one__img-box">
        <div class="news-one-img">
            <img src="assets/images/blog/travauxReno.png"
                 alt="bache au sol, escabeau et mur en attente de peinture">
            <a href="{{ path('app_news_details')}}">
                <span class="news-one__plus"></span>
            </a>
        </div>
        <div class="news-one__date-box">
            <p>Début septembre</p>
        </div>
    </div>
    <div class="news-one__content">
        {#                                <ul class="list-unstyled news-one__meta"> #}
        {#                                    <li><a href="news-details.html"><i class="far fa-user-circle"></i> Admin</a></li> #}
        {#                                    <li><a href="news-details.html"><i class="far fa-comments"></i> 2 Comments</a> #}
        {#                                    </li> #}
        {#                                </ul> #}
        <h3 class="news-one__title">
            <a href="news-details.html">10 étapes pour se lancer dans la rénovation</a>
        </h3>
        <p class="news-one__text">Se lancer dans un projet de rénovation peut être passionnant,
            mais cela nécessite une planification minutieuse, de bons conseils et des plans 3D!</p>
        <a href="{{ path('app_news_details') }}news-details.html" class="news-one__btn">Plus d'articles</a>
    </div>
</div>
</div>

<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">