<!-- Detail des taches/ id projet et id user-->


<h2 class="m-4">Détail du travail à faire</h2>

{# {% for tache in listeTaches %} #}
{#    #}{#    <ul> #}
{#    #}{#        <li>tache.nom</li> #}
{#    #}{#    </ul> #}
    {{ dump(listeTaches) }}
{% if listePjt is defined %}
    {{ dump(listePjt) }}
{% endif %}

{# {% endfor %} #}

<div id="test-time" class="text-center text-success"></div>
<div id="test-get" class="text-center text-primary"></div>

<button id="btnAjax" value="2" onclick="geek()">ajax!</button>


<script>

    let btnAjax = $('#btnAjax');
    btnAjax.on('click', function () {
        let tacheNumber = btnAjax.val();
        alert('ajax');
        console.log(tacheNumber);

    });


    function synchroneData() {
        let divTestTime = document.querySelector("#test-time");
        divTestTime.innerHTML = 'fonction synchrone'
    }

    async function fetchData() {
        let divAjaxGet = document.querySelector("#test-get");

        try {
            let response = await fetch('', {
                method: 'GET',
                headers: {"X-Requested-with": "XMLHttpRequest"},
            });

            divAjaxGet.innerHTML = await response.text();

        } catch (error) {

            console.error("Erreur lors de la récupération des données:", error);
        }
    }

    fetchData();
    synchroneData();

</script>
