
<!--                                   SECTION 7  : offre sur mesure                                      -->

<section class="pricing-one">
    <div class="container">
        <div class="pricing-tabs">
            <div class="row">
                <div class="col-xl-6">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Etablissement du budget</span>
                        <h2 class="section-title__title">Choisissez votre offre et vos options</h2>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="pricing-one__content">
                        <p class="pricing-one__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                            volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="pricing-one__left">
                        <ul class="pricing-one__points list-unstyled">
                            <li><span>/</span> La meilleure solution</li>
                            <li><span>/</span> Une expertise à vos côtés</li>
                        </ul>
                        <ul class="pricing-one__checks-list list-unstyled">
                            <li>
                                <div class="pricing-one__checks-icon">
                                    <i class="icon-tick"></i>
                                </div>
                                <div class="pricing-one__checks-text-box">
                                    <h3 class="pricing-one__checks-title">Epures</h3>
                                    <p class="pricing-one__checks-text">De l'idée principale aux objectifs à
                                        atteindre.</p>
                                </div>
                            </li>
                            <li>
                                <div class="pricing-one__checks-icon">
                                    <i class="icon-tick"></i>
                                </div>
                                <div class="pricing-one__checks-text-box">
                                    <h3 class="pricing-one__checks-title">Plan 3D</h3>
                                    <p class="pricing-one__checks-text">L'idée devient progressivement une réalité.
                                        L'expérience 3D permet déjà
                                        de se projeter dans votre future habitation</p>
                                </div>
                            </li>
                            <li>
                                <div class="pricing-one__checks-icon">
                                    <i class="icon-tick"></i>
                                </div>
                                <div class="pricing-one__checks-text-box">
                                    <h3 class="pricing-one__checks-title">Assistance</h3>
                                    <p class="pricing-one__checks-text">Des artisans séléctionnés pour leurs
                                        compétences et leur savoir-être réponderont à votre demande.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="pricing-one__table-box">
                        <div class="pricing-one__right">

                            <div class="pr-content">

                                <div class="pr-tab active-tab" id="tab-2">
                                    <div class="pricing-one__table-box-single">
                                        <div class="pricing-one__table">
                                            <div class="pricing-one__rate-box">
                                                <h2><span class="pricing-one__dolar">€</span>Tarif <span>/
                                                                sur demande</span></h2>
                                            </div>
                                            <div class="pricing-one__details-box">
                                                <h3 class="pricing-one__details-title"> Offre complète</h3>
                                                <ul class="list-unstyled">
                                                    <li>Etude de votre demande</li>
                                                    <li>Plan 3D</li>
                                                    <li>Proposition & solutions</li>
                                                    <li>Selection des offres</li>
                                                    <li>Engagement</li>
                                                </ul>
                                            </div>
                                            <div class="pricing-one__btn-box">
                                                <a href="{{ path('app_contact') }}"
                                                   class="pricing-one__btn thm-btn">Contactez moi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pr-tab " id="tab-1">
                                    <div class="pricing-one__table-box-single">
                                        <div class="pricing-one__table">
                                            <div class="pricing-one__rate-box">
                                                <h2><span class="pricing-one__dolar">€</span>450<span>/
                                                                forfait</span></h2>
                                            </div>
                                            <div class="pricing-one__details-box">
                                                <h3 class="pricing-one__details-title">Forfait de base</h3>
                                                <ul class="list-unstyled">
                                                    <li>Visualisation 3D</li>
                                                    <li>Modification</li>
                                                    <li>Choix de matériaux</li>
                                                    <li>Couleur et éclairage</li>
                                                </ul>
                                            </div>
                                            <div class="pricing-one__btn-box">
                                                <a href="{{ path('app_contact') }}"
                                                   class="pricing-one__btn thm-btn">Contactez moi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--                                                             fin section 7                               -->
