{#{% extends '/base.html.twig' %}#}
{% set Apps = theme.theme %}

{% block content %}


    <section class="mt-2 row justify-content-center m-auto" style="min-height: 25%">
        <div class="container">
            <div class="row">
                <div class="mb-5 bg-info">
                    <h5 style="margin-left: 10%">DOCUMENTS ARTISAN</h5>
                </div>
            </div>
        </div>
<a href="{{ path('app_documents_show',{ 'id': artisans.id })}}">doc show</a>

        {% if app.request.attributes.get('_route') == 'app_artisan_accueil' %}
            {% include "documents/show.html.twig" %}
        {% else %}
            <div class="alert-info"> Documents indisponibles pour le moment</div>
        {% endif %}


    </section>


{% endblock %}