
{% set Apps = theme.theme %}

{% block content %}


    <section class="mt-2 row justify-content-center m-auto" style="min-height: 25%">
        <div class="container">
            <div class="row">
                <div class="mb-5 bg-info">
                    <h5 style="margin-left: 10%">DOCUMENTS ARTISAN</h5>
                </div>
            </div>
        </div>


        <div class="dropdown" >
            <a  class="btn btn-secondary dropdown-toggle"  role="button" id="document"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sélection par choix
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item .active" href="{{ path('app_artisan_documents', { 'id': artisans.id }) }}">Liste par projet</a>
                <a class="dropdown-item" href="#">Liste par client</a>
{#                <a class="dropdown-item" href="#">Something else here</a>#}
            </div>
        </div>



        {% if app.request.attributes.get('_route') == 'app_artisan_documents' %}
            {% include "documents/show.html.twig" %}
        {% else %}
            <div class="alert-info"> Documents indisponibles pour le moment</div>
        {% endif %}


    </section>


{% endblock %}