{% for message in app.flashes('success') %}
    <div id="flash-message" class="alert alert-success text-center">
        {{ message }}
        <button id="flashbtn" type="button" class="close m-lg-5">ok ?</button>
    </div>
{% endfor %}

