{% extends 'base.html.twig' %}

{% block content %}

    <!--Page Header Start-->
    <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>About</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!--Page Header End-->


    <!--About Company Start-->
    <section class="about-company">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-company__img">
                        <img src="assets/images/resources/about-company-img-1.jpg" alt="">
                        <div class="about-company__trusted-by">
                            <p>Trusted by</p>
                            <span>4890</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-company__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">what we did</span>
                            <h2 class="section-title__title">Kitecx Studio with a Concept & Ideas</h2>
                        </div>
                        <ul class="about-company__points list-unstyled">
                            <li><span>/</span> Get Right Solutions</li>
                            <li><span>/</span> Expert Architecture</li>
                        </ul>
                        <div class="about-company__progress">
                            <h4 class="about-company__progress-title">Architects</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="77%">
                                    <div class="count-text">77%</div>
                                </div>
                            </div>
                        </div>
                        <div class="about-company__icon-and-text">
                            <div class="about-company__icon">
                                <span class="icon-blueprint"></span>
                            </div>
                            <div class="about-company__text-box">
                                <p class="about-company__text">Dolor in reprehenderit in voluptate velit esse cillum
                                    dolore fugiat nulla pariatur sed eiusmod tempor incidi dunt.</p>
                            </div>
                        </div>
                        <p class="about-company__text-2">There are many variations of passages of available but the
                            majority have suffered alteration in some form, by humou or randomised words which don't
                            look believable.</p>
                        <a href="#" class="about-company__btn thm-btn">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Company End-->

    <!--Counters One Start-->
    <section class="counters-one">
        <div class="counters-one-pattern"
             style="background-image: url(assets/images/pattern/counter-one-pattern.jpg)"></div>
        <div class="container">
            <ul class="counters-one__box list-unstyled">
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-architect-4"></span>
                    </div>
                    <h3 class="odometer" data-count="6805">00</h3>
                    <p class="counter-one__text">Project Completed</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-architect-5"></span>
                    </div>
                    <h3 class="odometer" data-count="906">00</h3>
                    <p class="counter-one__text">Team Members</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-buildings"></span>
                    </div>
                    <h3 class="odometer" data-count="200">00</h3>
                    <p class="counter-one__text">Service Providing</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-satisfaction"></span>
                    </div>
                    <h3 class="odometer" data-count="9760">00</h3>
                    <p class="counter-one__text">Happy Customers</p>
                </li>
            </ul>
        </div>
    </section>
    <!--Counters One Start-->

    <!--About Team Page Start-->
    <section class="team-one about-page-team">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Our team mebers</span>
                <h2 class="section-title__title">Met Expert Team</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-one-img-1.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">Rose Michale</h3>
                            <p class="team-one__title">Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-one-img-2.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">David Martin</h3>
                            <p class="team-one__title">founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-one-img-3.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">jessica brown</h3>
                            <p class="team-one__title">architect</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Team Page End-->

    <!--Two Boxes About Start-->
    <section class="two-boxes two-boxes-about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="two-boxes__single">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__content">
                                    <h2>Why Should You Choose Kitecs?</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__img">
                                    <img src="assets/images/resources/two-boxes-img-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="two-boxes__single">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__content">
                                    <h2>We’re Award Winnings Studio</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__img">
                                    <img src="assets/images/resources/two-boxes-img-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Two Boxes About End-->

    <!--Testimonials One Start-->
    <section class="testimonials-one about-page-testimonial">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">our testimonials</span>
                <h2 class="section-title__title">What they’re ssaying</h2>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testimonials-one__carousel owl-theme owl-carousel">
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-1.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">Jessica Brown</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-2.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">mike hardson</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-3.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">rose smith</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-1.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">Jessica Brown</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-2.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">mike hardson</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-3.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">rose smith</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-1.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">Jessica Brown</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-2.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">mike hardson</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__box">
                            <div class="testimonials-one__single">
                                <div class="testimonials-one__content">
                                    <p class="testimonials-one__text">I was very impresed by the kitecx service
                                        lorem ipsum is simply free text used by copy typing refreshing. Neque porro
                                        est qui dolorem ipsum.</p>
                                    <div class="testimonials-one__client-info">
                                        <div class="testimonials-one__client-img">
                                            <img src="assets/images/testimonial/testimonials-one__client-img-3.png"
                                                 alt="">
                                        </div>
                                        <div class="testimonials-one__client-details">
                                            <h5 class="testimonials-one__client-name">rose smith</h5>
                                            <p class="testimonials-one__client-title">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials One End-->


{% endblock %}
