{% extends 'base.html.twig' %}

{% block content %}
    <!--                                                                                  BANDEAU SUPERIEUR    image 1894x359                                                            -->

    <section class="page-header" style="background-image: url(assets/images/backgrounds/fond2.png);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>News Details</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>News Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                              fin bandeau supérieur                                                                        -->





    <section class="news-details">

        <!--                                                                    NEWS  1 / image 770X448                                                                -->
        {% include "contenus/_news_details.html.twig" %}


        <!--                                                                             fin news 1                                                                -->


        <!--                                                                  BLOCK LATERAL DROIT                                              -->
        <div class="col-xl-4 col-lg-5">
            <!--                                                                  SEARCH BAR                                                -->
            <div class="sidebar">
                <div class="sidebar__single sidebar__search">
                    <h3 class="sidebar__title clr-white">Search</h3>
                    <form action="#" class="sidebar__search-form">
                        <input type="search" placeholder="Search">
                        <button type="submit"><i class="icon-magnifying-glass"></i></button>
                    </form>
                </div>
                <!--                                                            fin search bar                                                -->


                <!--                                                        Menu latéral dernier "post"                                     -->
                <div class="sidebar__single sidebar__post">
                    <h3 class="sidebar__title">Dernière news</h3>
                    <ul class="sidebar__post-list list-unstyled">
                        <li>
                            <div class="sidebar__post-image">

                                <img src="assets/images/blog/lp-1-1.jpg" alt="">
                            </div>
                            <div class="sidebar__post-content">
                                <h3>
                                    <a href="" class="sidebar__post-content_meta"><i
                                                class="far fa-comments"></i>Décorations de noël</a>
                                    <a href="">Astuces déco</a>
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--                                                    fin  Menu latéral dernier "post"                                           -->
            </div>
        </div>
        <!--                                                                 fin  bloc latéral droit                                               -->


        <!--                                                                    NEWS  2      770X448                                                                -->
        <div class="col-xl-8 col-lg-7">


            <div class="news-details__left">
                <div class="news-details__img">
                    <img src="assets/images/blog/noel2.jpg" alt="image de décorations de noel sur fond blanc">
                    <div class="news-details__date-box">
                        <p>Décembre 2023</p>
                    </div>
                </div>
                <div class="news-details__content">

                    <h3>Décorations de noël</h3>
                    <p> Les lumières de Noël jouent un rôle crucial dans la création d'une ambiance festive. Optez pour
                        des guirlandes lumineuses à LED pour économiser
                        de l'énergie et ajouter une lueur chaleureuse à votre espace. N'oubliez pas les bougies, qui
                        peuvent créer une atmosphère douce et intime.</p>
                    <p>
                        Choisissez un thème pour votre décoration de Noël afin de créer une atmosphère harmonieuse. Cela
                        pourrait être quelque chose de traditionnel, comme le rouge et le vert,
                        ou plus moderne, comme le blanc et l'argent. Un thème unifié donnera à votre décoration un
                        aspect plus professionnel et soigné.
                    </p>

                    <p> Réutilisez des décorations de Noël des années précédentes en les intégrant dans de nouvelles
                        configurations.
                        Par exemple, vous pouvez donner une nouvelle vie à de vieux ornements en les peignant ou en les
                        incorporant dans des centres de table.</p>


                    <p>Ramassez des branches de sapin, de pin ou d'autres arbres à feuilles
                        persistantes pour créer des guirlandes, des couronnes ou simplement pour ajouter une verdure à
                        votre décoration intérieure.</p>

                    <p>Les branches de baies rouges ou d'autres fruits décoratifs peuvent apporter une touche de couleur
                        vive à votre décoration.
                        Utilisez-les dans des vases, des couronnes ou comme accents dans vos arrangements.</p>
                </div>

                <div class="author-one mt-4">
                    <div class="author-one__image">
                        <img src="assets/images/LOGO_ELODECO_1.png" width="128" alt="logo de l'entreprise">
                    </div>
                    <div class="author-one__content">
                        <h3>Elodie FAIVRE</h3>
                        <p>Créatrice et gérante de la société Elo Deco </p>
                    </div>
                </div>

                <div class="news-details__bottom">
                    <p class="news-details__tags">
                        <span>Tags:</span>
                        <a href="#">Décoration</a>
                        {#                                <a href="#">Gestion</a> #}
                    </p>
                </div>

            </div>

        </div>
        </div>
        </div>
    </section>



{% endblock %}
