{% extends 'base.html.twig' %}

{% block content %}

    <section class="page-header" style="background-image: url({{ asset('assets/images/backgrounds/fond2.png') }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>News</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>News</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="news" class="news-one news-one__page">
        <div class="container">
            <div class="row">
                {% for new in news %}
                    {% include "contenus/_news.html.twig" with {'new': new} only %}
                {% endfor %}
{#                <div class="text-center news-one__more">#}
{#                    <a href="#" class="thm-btn">Voir plus</a>#}
{#                </div>#}
            </div>
        </div>
    </section>


{% endblock %}
