{% extends 'base.html.twig' %}

{% block content %}
    <!--Page Header Start-->
    <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>News Details</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>News Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--News Details Start-->
    <section class="news-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="news-details__left">
                        <div class="news-details__img">
                            <img src="assets/images/blog/news-details-img.jpg" alt="">
                            <div class="news-details__date-box">
                                <p>20 april</p>
                            </div>
                        </div>
                        <div class="news-details__content">
                            <ul class="list-unstyled news-details__meta">
                                <li><a href="news-details.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                <li><a href="news-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                                </li>
                            </ul>
                            <h3 class="news-details__title">10 étapes pour se lancer dans la rénovation</h3>

                            <p class="news-details__text-one">1- Évaluation des besoins et objectifs : Identifiez les raisons de la rénovation,
                                les problèmes à résoudre et les objectifs que vous souhaitez atteindre. Déterminez quelles pièces ou zones nécessitent
                                une attention particulière.</p>

                            <p class="news-details__text-two">2- Budget : Établissez un budget réaliste en prenant en compte les coûts de main-d'œuvre, de matériaux,
                                d'outils, et prévoyez une marge pour les imprévus.</p>

                            <p class="news-details__text-two">3- Recherche et inspiration : Explorez des sources d'inspiration telles que des magazines,
                                des sites web, et visitez des expositions pour définir le style que vous souhaitez pour votre maison rénovée.</p>


                            <p class="news-details__text-three">4- Sélection d'un professionnel : Engagez des professionnels compétents,
                                tels qu'un architecte, un designer d'intérieur, ou un entrepreneur général, en fonction des besoins de votre projet.</p>

                            <p class="news-details__text-three">5- Élaboration de plans : Travailler avec un professionnel pour élaborer des plans détaillés qui décrivent les modifications à apporter.
                                Cela inclut l'agencement des pièces, les modifications structurelles, et les détails techniques.</p>

                            <p class="news-details__text-three">6-Obtention des autorisations : Vérifiez les exigences en matière de permis de construction dans votre région
                                et assurez-vous d'obtenir toutes les autorisations nécessaires avant de commencer les travaux</p>


                            <p class="news-details__text-three">7-Choix des matériaux et des finitions : Sélectionnez les matériaux et les finitions en gardant
                                à l'esprit le style souhaité, la durabilité, et le budget.
                                Obtenez des devis détaillés pour chaque élément.</p>


                            <p class="news-details__text-three">8-Planification des travaux : Élaborez un calendrier réaliste pour les travaux, en prenant en compte
                                les étapes clés et en coordonnant les différents corps de métier.</p>

                            <p class="news-details__text-three">9-Exécution des travaux : Surveillez de près l'avancement du chantier, communiquez régulièrement avec les professionnels
                                et ajustez si nécessaire. Soyez prêt à résoudre les problèmes qui pourraient surgir..</p>

                            <p class="news-details__text-three">10-Finition et inspection : Lorsque les travaux sont terminés, effectuez une inspection approfondie pour vous assurer que tout est conforme
                                aux plans. Adressez les éventuels problèmes avant de finaliser le projet</p>

                        </div>
                        <div class="news-details__bottom">
                            <p class="news-details__tags">
                                <span>Tags:</span>
                                <a href="#">Architecture,</a>
                                <a href="#">Interior</a>
                            </p>
                            <div class="news-details__social-list">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="author-one">
                            <div class="author-one__image">
                                <img src="assets/images/blog/author-1-1.jpg" alt="">
                            </div>
                            <div class="author-one__content">
                                <h3>Christine Eve</h3>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining unchanged. It was popularised in the sheets containing.
                                </p>
                            </div>
                        </div>
                        <div class="comment-one">
                            <h3 class="comment-one__title">2 Comments</h3>
                            <div class="comment-one__single">
                                <div class="comment-one__image">
                                    <img src="assets/images/blog/comment-1-1.png" alt="">
                                </div>
                                <div class="comment-one__content">
                                    <h3>Kevin Martin</h3>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting unchanged. It was popularised in the sheets containing lorem
                                        ipsum is simply free text.</p>
                                    <a href="#" class="thm-btn comment-one__btn">Reply</a>
                                </div>
                            </div>
                            <div class="comment-one__single">
                                <div class="comment-one__image">
                                    <img src="assets/images/blog/comment-1-2.png" alt="">
                                </div>
                                <div class="comment-one__content">
                                    <h3>Jessica Brown</h3>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting unchanged. It was popularised in the sheets containing lorem
                                        ipsum is simply free text.</p>
                                    <a href="#" class="thm-btn comment-one__btn">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h3 class="comment-form__title">Leave a Comment</h3>
                            <form action="assets/inc/sendemail.php"
                                  class="comment-one__form contact-form-validated">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="text" placeholder="Your name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="email" placeholder="Email address" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="text" placeholder="Phone number" name="phone">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="email" placeholder="Subject" name="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box">
                                            <textarea name="message" placeholder="Write message"></textarea>
                                        </div>
                                        <button type="submit" class="thm-btn comment-form__btn">Submit
                                            Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sidebar">
                        <div class="sidebar__single sidebar__search">
                            <h3 class="sidebar__title clr-white">Search</h3>
                            <form action="#" class="sidebar__search-form">
                                <input type="search" placeholder="Search">
                                <button type="submit"><i class="icon-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <div class="sidebar__single sidebar__post">
                            <h3 class="sidebar__title">Recent News</h3>
                            <ul class="sidebar__post-list list-unstyled">
                                <li>
                                    <div class="sidebar__post-image">
                                        <img src="assets/images/blog/lp-1-1.jpg" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                            <a href="news-details.html">Natural Pastel Colors</a>
                                        </h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar__post-image">
                                        <img src="assets/images/blog/lp-1-2.jpg" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                            <a href="news-details.html">Natural Pastel Colors</a>
                                        </h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar__post-image">
                                        <img src="assets/images/blog/lp-1-3.jpg" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                            <a href="news-details.html">Natural Pastel Colors</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar__single sidebar__category">
                            <h3 class="sidebar__title">Categories</h3>
                            <ul class="sidebar__category-list list-unstyled">
                                <li><a href="#">Architecture <span class="icon-right-arrow"></span></a></li>
                                <li class="active"><a href="#">Interior Design <span
                                                class="icon-right-arrow"></span></a></li>
                                <li><a href="#">Custom Solutions <span class="icon-right-arrow"></span></a></li>
                                <li><a href="#">Furniture & Decor <span class="icon-right-arrow"></span></a></li>
                                <li><a href="#">Design & Planning <span class="icon-right-arrow"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--News Details End-->


{% endblock %}
