{% extends 'base.html.twig' %}

{% block content %}
    <!--                                                                                  BANDEAU SUPERIEUR    image 1894x359                                                            -->

    <section class="page-header" style="background-image: url(assets/images/backgrounds/fond2.png);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>News Details</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>News Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                              fin bandeau supérieur                                                                        -->


    <!--                                                                     NEWS     image 770X448                                                                -->


    <section class="news-details">
        <!--                                                                    NEWS  1 770X448                                                                -->
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="news-details__left">
                        <div class="news-details__img">
                            <img src="assets/images/blog/projetGd.jpg"  alt="bache au sol, escabeau et mur en attente de peinture">
                            <div class="news-details__date-box">
                                <p>Septembre 2023</p>
                            </div>
                        </div>
                        <div class="news-details__content">

                            <h3 class="news-details__title">10 étapes pour se lancer dans la rénovation</h3>

                            <p class="news-details__text-one">1- Évaluation des besoins et objectifs : Identifiez les raisons de la rénovation,
                                les problèmes à résoudre et les objectifs que vous souhaitez atteindre. Déterminez quelles pièces ou zones nécessitent
                                une attention particulière.</p>

                            <p class="news-details__text-two">2- Budget : Établissez un budget réaliste en prenant en compte les coûts de main-d'œuvre, de matériaux,
                                d'outils, et prévoyez une marge pour les imprévus.</p>

                            <p class="news-details__text-two">3- Recherche et inspiration : Explorez des sources d'inspiration telles que des magazines,
                                des sites web, et visitez des expositions pour définir le style que vous souhaitez pour votre maison rénovée.</p>


                            <p class="news-details__text-three">4- Sélection d'un professionnel : Engagez des professionnels compétents,
                                tels qu'un architecte, un designer d'intérieur, ou un entrepreneur général, en fonction des besoins de votre projet.</p>

                            <p class="news-details__text-three">5- Élaboration de plans : Travailler avec un professionnel pour élaborer des plans détaillés qui décrivent les modifications à apporter.
                                Cela inclut l'agencement des pièces, les modifications structurelles, et les détails techniques.</p>

                            <p class="news-details__text-three">6-Obtention des autorisations : Vérifiez les exigences en matière de permis de construction dans votre région
                                et assurez-vous d'obtenir toutes les autorisations nécessaires avant de commencer les travaux</p>


                            <p class="news-details__text-three">7-Choix des matériaux et des finitions : Sélectionnez les matériaux et les finitions en gardant
                                à l'esprit le style souhaité, la durabilité, et le budget.
                                Obtenez des devis détaillés pour chaque élément.</p>


                            <p class="news-details__text-three">8-Planification des travaux : Élaborez un calendrier réaliste pour les travaux, en prenant en compte
                                les étapes clés et en coordonnant les différents corps de métier.</p>

                            <p class="news-details__text-three">9-Exécution des travaux : Surveillez de près l'avancement du chantier, communiquez régulièrement avec les professionnels
                                et ajustez si nécessaire. Soyez prêt à résoudre les problèmes qui pourraient surgir..</p>

                            <p class="news-details__text-three">10-Finition et inspection : Lorsque les travaux sont terminés, effectuez une inspection approfondie pour vous assurer que tout est conforme
                                aux plans. Adressez les éventuels problèmes avant de finaliser le projet</p>

                        </div>

                        <div class="author-one mt-4">
                            <!--                                img 172x158 ou idem icone page Home  est plus grande-->
                            <div class="author-one__image">
                                <img src="assets/images/LOGO_ELODECO_1.png" width="128" alt="logo de l'entreprise">
                            </div>
                            <div class="author-one__content">
                                <h3>Elodie FAIVRE</h3>
                                <p>Créatrice et gérante de la société Elo Deco </p>
                            </div>
                        </div>

                        <div class="news-details__bottom">
                            <p class="news-details__tags">
                                <span>Tags:</span>
                                <a href="#">Immobilier</a>
{#                                <a href="#">Gestion</a>#}
                            </p>
                        </div>
                    </div>
                </div>





                <!--                                                                  BLOCK LATERAL DROIT                                              -->
                <div class="col-xl-4 col-lg-5">
                    <!--                                                                  SEARCH BAR                                                -->
                    <div class="sidebar">
                        <div class="sidebar__single sidebar__search">
                            <h3 class="sidebar__title clr-white">Search</h3>
                            <form action="#" class="sidebar__search-form">
                                <input type="search" placeholder="Search">
                                <button type="submit"><i class="icon-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <!--                                                            fin search bar                                                -->



                        <!--                                                        Menu latéral dernier "post"                                     -->
                        <div class="sidebar__single sidebar__post">
                            <h3 class="sidebar__title">Dernière news</h3>
                            <ul class="sidebar__post-list list-unstyled">
                                <li>
                                    <div class="sidebar__post-image">

                                        <img src="assets/images/blog/lp-1-1.jpg" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <a href="{{ path('app_news_details') }}" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>Décorations de noël</a>
                                            <a href="{{ path('app_news_details') }}">Astuces déco</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--                                                    fin  Menu latéral dernier "post"                                           -->
                    </div>
                </div>
                <!--                                                                 fin  bloc latéral droit                                               -->



                <!--                                                                    NEWS  2      770X448                                                                -->
                <div class="col-xl-8 col-lg-7">





                <div class="news-details__left">
                    <div class="news-details__img">
                        <img src="assets/images/blog/noel2.jpg" alt="image de décorations de noel sur fond blanc">
                        <div class="news-details__date-box">
                            <p>Décembre 2023</p>
                        </div>
                    </div>
                    <div class="news-details__content">

                        <h3>Décorations de noël</h3>
                        <p> Les lumières de Noël jouent un rôle crucial dans la création d'une ambiance festive. Optez pour des guirlandes lumineuses à LED pour économiser
                            de l'énergie et ajouter une lueur chaleureuse à votre espace. N'oubliez pas les bougies, qui peuvent créer une atmosphère douce et intime.</p>
                        <p>
                            Choisissez un thème pour votre décoration de Noël afin de créer une atmosphère harmonieuse. Cela pourrait être quelque chose de traditionnel, comme le rouge et le vert,
                            ou plus moderne, comme le blanc et l'argent. Un thème unifié donnera à votre décoration un aspect plus professionnel et soigné.
                        </p>

                        <p> Réutilisez des décorations de Noël des années précédentes en les intégrant dans de nouvelles configurations.
                            Par exemple, vous pouvez donner une nouvelle vie à de vieux ornements en les peignant ou en les incorporant dans des centres de table.</p>


                        <p>Ramassez des branches de sapin, de pin ou d'autres arbres à feuilles
                            persistantes pour créer des guirlandes, des couronnes ou simplement pour ajouter une verdure à votre décoration intérieure.</p>

                        <p>Les branches de baies rouges ou d'autres fruits décoratifs peuvent apporter une touche de couleur vive à votre décoration.
                            Utilisez-les dans des vases, des couronnes ou comme accents dans vos arrangements.</p>
                    </div>

                    <div class="author-one mt-4">
                        <div class="author-one__image">
                            <img src="assets/images/LOGO_ELODECO_1.png" width="128" alt="logo de l'entreprise">
                        </div>
                        <div class="author-one__content">
                            <h3>Elodie FAIVRE</h3>
                            <p>Créatrice et gérante de la société Elo Deco </p>
                        </div>
                    </div>

                    <div class="news-details__bottom">
                        <p class="news-details__tags">
                            <span>Tags:</span>
                            <a href="#">Décoration</a>
                            {#                                <a href="#">Gestion</a>#}
                        </p>
                    </div>

                </div>

            </div>
            </div>
        </div>
    </section>



{% endblock %}
