{% extends 'base.html.twig' %}

{% block content %}
    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->


    <section class="page-header" style="background-image: url(assets/images/backgrounds/fond2.png);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Ma mission</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>Ma mission</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                -Bandeau supérieur fin                                                             -->


     <!--                                                               MA MISSION  image 530x463                                                                                        -->
    <section class="productive">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="productive__left">
                        <div class="productive__img">
                            <img src="assets/images/resources/cuisine3d.png" alt="image cuisine 3d avec meubles, frigidere et ustensiles">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="productive__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Mes avantages</span>
                            <h2 class="section-title__title">Des solutions sur mesure</h2>
                        </div>
                        <ul class="productive__points list-unstyled">
                            <li><span>/</span> Le bon choix</li>
                            <li><span>/</span> L'expertise</li>
                        </ul>
                        <p class="productive__text"> Je peut maximiser l'utilisation de l'espace, optimisant ainsi la fonctionnalité d'une pièce tout en conservant une sensation de confort.
                            En outre, mon expertise permet de
                            créer des espaces harmonieux en jouant avec les couleurs, les textures et les formes, ce qui contribue à une atmosphère agréable et stimulant.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                    fin texte1                                                          -->

    <!--                                                                       texte 2                                                      -->
    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="benefits__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Vos bénéfices</span>
                            <h2 class="section-title__title">Plans 3D de qualité</h2>
                        </div>
                        <div class="benefits__checks-box">
                            <ul class="benefits__checks-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="content">
                                        <h3>Agencement optimal</h3>
                                        <p> Je peux également vous proposer des solutions innovantes pour résoudre
                                            des défis spécifiques liés à la disposition des meubles, à l'éclairage ou à la circulation dans l'espace.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="content">
                                        <h3>Visite virtuelle</h3>
                                        <p>Immersion dans votre future réalité.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="benefits__right">
                        <div class="benefits__img">
                            <img src="assets/images/resources/projet_logement530.png" alt="plan 3d appartement en sous pente type modern avec cuisine ouverte sur séjour">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                                fin texte 2                                                             -->

    <!--                                                        temoin 1                                                -->
    <section class="testimonials-two our-mission-page-testimonial">
        <div class="testimonials-two-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url(assets/images/backgrounds/testimonials-two-bg.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testimonials-two__carousel owl-theme owl-carousel">

                        <!--image 1-->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="assets/images/testimonial/Ellipse80.png" alt="miniature ciculaire d'une maison 3d">
                                        <div class="testimonials-two__quote-icon">
                                            <img src="assets/images/testimonial/testimonials-two-quote-icon.png"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">Nate Berkus </h5>
                                    <p class="testimonials-two__client-title"> designer d'intérieur renommé</p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text">"Le design d'intérieur, c'est plus qu'une simple décoration.
                                    C'est l'art de transformer un espace pour créer une expérience unique, harmonieuse et fonctionnelle."</p>
                            </div>
                        </div>

                        <!--                                                        temoin 2                                                -->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="assets/images/testimonial/Ellipse80.png" alt="miniature ciculaire d'une maison 3d">
                                        <div class="testimonials-two__quote-icon">
                                            <img src="assets/images/testimonial/testimonials-two-quote-icon.png"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">Kelly Hoppen </h5>
                                    <p class="testimonials-two__client-title">Designer d'intérieur de renommée mondiale</p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text">"Un bon design d'intérieur ne doit pas seulement être beau.
                                    Il doit également raconter une histoire, refléter la personnalité de ceux qui l'habitent et créer un sentiment d'équilibre et de bien-être." </p>
                            </div>
                        </div>

                        <!--                                                        temoin 3                                                -->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="assets/images/testimonial/Ellipse80.png" alt="miniature ciculaire d'une maison 3d">
                                        <div class="testimonials-two__quote-icon">
                                            <img src="assets/images/testimonial/testimonials-two-quote-icon.png"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">Philippe Starck</h5>
                                    <p class="testimonials-two__client-title">Designer et architecte français de renom</p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text">"Le design d'intérieur consiste à créer des espaces qui améliorent
                                    la qualité de vie et la culture des occupants. C'est bien plus que l'agencement des meubles; c'est une fusion d'art, de science et de passion."</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                   fin temoignage                                                       -->

    <!--                                                                BANDEAU INFERIEUR                                                       -->
    <section class="how-we-works">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">3 étapes</span>
                <h2 class="section-title__title">Comment je travaille</h2>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <ul class="list-unstyled how-we-works__single-list">
                        <!--                                                étape  1                                                                -->
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-team"></span>
                                    <div class="how-we-works__count">

                                    </div>
                                </div>
                            </div>
                            <h3 class="how-we-works__title">Première rencontre</h3>
                            <p class="how-we-works__text">Apprendre à se connaître, définir votre projet, vos envies, le budget</p>
                        </li>
                        <!--                                                étape 2                                                                     -->
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-checklist"></span>
                                    <div class="how-we-works__count">

                                    </div>
                                </div>
                            </div>
                            <h3 class="how-we-works__title">Réalisation des plans 3D</h3>
                            <p class="how-we-works__text">Présentation des résultats, ajustement si nécessaire, et validation</p>
                        </li>
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-outsourcing"></span>
                                    <div class="how-we-works__count">

                                    </div>
                                </div>
                            </div>

                            <!--                                                étape 3                                                                    -->
                            <h3 class="how-we-works__title">Satisfaction & réalisation</h3>
                            <p class="how-we-works__text">Suivant la formule, plans en mains et poursuite du projet avec mes artisans</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                    fin des 3 étapes                                                                    -->

    <!--                                                                   BLOCJ IMAGES 123x24                                                                       -->
    <section class="brand-three">
        <div class="container">
            <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle1.png" alt="rectange rouge">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle2.png" alt="rectange rose">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle3.png" alt="rectangle violet">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle4.png" alt="rectangle bleu">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle5.png" alt="rectangle turquoise">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle6.png" alt="rectangle vert">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle7.png" alt="rectangle gris marron">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle8.png" alt="rectangle vert fluo">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle9.png" alt="rectangle orange">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/resources/rectangle10.png" alt="rectange saumon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                        fin block image 123x24                                  -->



{% endblock %}
