{% extends 'base.html.twig' %}

{% block content %}

    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->

    <section class="page-header" style="background-image: url(assets/images/backgrounds/main-slider-11.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Portfolio</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>Portfolio</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                -Bandeau supérieur fin                                                            -->


    <!--                                                PROJETS DE 1 A    / image de font 1894x359 px                                                  -->

    <section class="project-one portfolio-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
    <!--                                                                        PROJET 1                                                              -->
                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/projet_indus_moyen.png" alt="plan 3d logement après réféction avec cuisine et sejour en sous pente">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/projet_indus_moyen.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">RIOZ - Réalisation logement </p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Architecture type industriel</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">

                    <!--                                                 fin  projet 1                                                              -->



     <!--                                                                    PROJET 2                                                              -->

                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/demande-deco.png" alt="petit espace où la décoration est soignée, rose et gris, petit mobilier classieux">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/demande-deco.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Devecey- Décoration</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Coin détente classieux</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!--                                                 fin  projet 2                                                              -->            <!--Project One Single-->


                    <!--                                                     PROJET 3                                                            -->


                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/refection-appart.png" alt="image d'un appartement en chantir avec bâches au sol et escabeau, peinture blanche">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/refection-appart.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Vesoul- Rénovation appartement</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Primo accédant</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">

                    <!--                                                        fin  projet 3                                                              -->



                    <!--                                                           PROJET 4                                                            -->
                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/projet_sdb_moyen.png" alt="image salle de bain contemporaine avec douche et baignoire, ambiance claire, blanc">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/projet_sdb_moyen.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Salle de bain</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Salle de bain élégante</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">

                    <!--                                                 fin  projet 4                                                              -->


                    <!--                                                     PROJET 5                                                            -->
                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/projet_extension_bois2_moyen.png" alt="extension bois avec poele, intérieur chic mais simple en matériaux nobles">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/projet_extension_bois2_moyen.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Extension bois avec poële</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Extension bois</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">

                    <!--                                                 fin  projet 5                                                              -->



                    <!--                                                     PROJET 6                                                            -->


                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/plan2d_moyen.png" alt="plan 2D d'un sous-sol avec nouveaux aménagements, table de cuisson, table et chaises">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/plan2d_moyen.png" class="img-popup"><i
                                                class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Plan d'un aménagement de sous-sol</p>
                                        <h2 class="project-one__hover-name">Maison années 1960 à rénover</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                    fin  projet 6                                                              -->


{% endblock %}
