{% extends 'base.html.twig' %}

{% block content %}


    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->

    <section class="page-header" style="background-image: url(assets/images/backgrounds/main-slider-11.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Portfolio Details</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>Portfolio Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                fin bandeau supérieur                                                                   -->

    <!--                                                        SECTION PROJET DETAILLE  / IMGAGE 1170 X 505                                                    -->
    <section class="portfolio-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-details__img">
                        <img src="assets/images/project/projet_logement_indus.png" alt="plan 3d logement après réféction avec cuisine et sejour en sous pente">
                        <div class="portfolio-details__info">
                            <ul class="portfolio-details__info-list list-unstyled">
                                <li>14 octobre, 2023</li>
                                <li>RIOZ</li>
                                <li>€ 80'000</li>
                                <li>Réalisation en cours</li>
                                <li>
                                    <div class="portfolio-details__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-details__content">
                        <h2 class="portfolio-details__title">APPARTEMENT TYPE INDUSTRIEL</h2>
                        <p class="portfolio-details__text-1">Lorem ipsum is simply free text used by copytyping
                            refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed
                            efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum is
                            simply dummy text of the new design printng and type setting Ipsum Take a look at our
                            round up of the best shows coming soon to your telly box has been the is industrys. When
                            an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing.</p>
                        <ul class="portfolio-details__list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Sed ut perspiciatis unde omnis iste natus error</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur simply free text</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Accusamus et iusto odio dignissimos not the ducimus qui blanditiis</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumquer</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p> Accusamus et iusto odio dignissimos igntjne ducimus qui blanditiis</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque lipsum fre
                                        tempore</p>
                                </div>
                            </li>
                        </ul>
                        <p class="portfolio-details__text-2"> When an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but
                            also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing. When an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</p>

                    </div>
                </div>
            </div>
        </div>





    </section>
    <!--Portfolio Details End-->

    <!--Project One Start-->
    <section class="project-one portfolio-details-page-project">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Projet confié</span>
                <h2 class="section-title__title">Avant réalisation</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4">

                    <!--                                          MINIATURE PROJET 1 :  AVANT TRAVAUX - image 370x483 px                                  -->
                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/pre-indus.png" alt="photo des combles avant réalisation des travaux, logement futur type industriel">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/pre-indus.png"></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">RIOZ - Réalisation logement </p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Architecture type industriel</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--                                                         fin Miniature Projet 1                                                                            -->


                    <!--                                                           MINIATURE PROJET 2                                                          -->
                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/demande-deco.png" alt="petit espace où la décoration est soignée, rose et gris, petit mobilier classieux">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/demande-deco.png"
                                       class="img-popup"><i class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Devecey- Décoration</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Coin détente classieux</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--                                                               fin Miniature Projet 2                                                          -->




                    <!--                                                                 MINIATURE PROJET 3                                                         -->


                    <div class="project-one__single">
                        <div class="project-one__img-box">
                            <div class="project-one__img">
                                <img src="assets/images/project/refection-appart.png" alt="">
                                <div class="project-one__hover">
                                    <a href="assets/images/project/refection-appart.png"
                                       class="img-popup"><i class="fa fa-search-plus"></i></a>
                                    <div class="project-one__hover-content">
                                        <p class="project-one__hover-title">Vesoul- Rénovation appartement</p>
                                        <h2 class="project-one__hover-name"><a href="portfolio-details.html">Primo accédant
                                               </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                            fin Miniature Projet 3                                                          -->


{% endblock %}
