{% extends 'base.html.twig' %}

{% block content %}
<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>

</div><!-- /.stricky-header -->


    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->
<section class="page-header" style="background-image: url(assets/images/backgrounds/main-slider-11.png);">
    <div class="page-header-border"></div>
    <div class="page-header-border page-header-border-two"></div>
    <div class="page-header-border page-header-border-three"></div>
    <div class="page-header-border page-header-border-four"></div>
    <div class="page-header-border page-header-border-five"></div>
    <div class="page-header-border page-header-border-six"></div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Services Details</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><span>/</span></li>
                <li>Services Details</li>
            </ul>
        </div>
    </div>
</section>
<!--                                                                        SECTION 1 : SERVICES details  / image 672x713                                                   -->


<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">
                    <div class="services-details__services-list-box">
                        <ul class="services-details__services-list list-unstyled">
                            <li><a href="#">Aménagement d'intérieur<span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Architecture <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Design & Planning <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Home staging<span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Agencement optimisé <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Assitance à la gestion <span class="icon-right-arrow"></span></a></li>
                        </ul>
                    </div>
                    <div class="services-details__help-box">
                        <div class="services-details__help-box-bg"
                             style="background-image: url(assets/images/resources/bureau-moyen.jpg);">
                        </div>
                        <div class="services-details__help-box-bg-overly"></div>
                        <h3 class="services-details__help-box-title">Need Help?</h3>
                        <p class="services-details__help-box-text">Speak with a human to filling out a form?
                    call corporate office and we will connect you with a team member who can help.</p>
                        <a href="tel:92-666-888-0000" class="services-details__phone">92 666 888 0000</a>
                        <a href="#" class="thm-btn services-details__help-box-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__right">
                    <div class="services-details__img">
                        <img src="assets/images/resources/bureau-moyen.jpg" alt="">
                    </div>
                    <div class="services-details__content">
                        <h2 class="services-details__title">Designer</h2>
                        <p class="services-details__text-1"> Expert dans l'optimisation de l'utilisation de l'espace, en tant que designers d'intérieur
                            je veille à ce que chaque élément contribue à la fonctionnalité tout en créant des intérieurs esthétiquement plaisants.
                            Travaillent en étroite collaboration avec mes clients pour comprendre leurs goûts, besoins et styles de vie,
                            nous créons des espaces qui reflètent la personnalité unique de chaque individu.
                            En plus de concevoir des espaces, les designers d'intérieur peuvent également superviser l'exécution du projet,
                            coordonner les travaux et s'assurer que tout est réalisé selon les plans convenus.

                        </p>
                    </div>
                    <div class="services-details__designing-box">
                        <div class="services-details__designing-list-box">
                            <h2 class="services-details__designing-list-box-title">Designing</h2>
                            <ul class="services-details__designing-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>Quality Architect Designs</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>100% Satisfaction Guarantee</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>Deliver Always on Time</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>Deliver Always on Time</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>Best Value Solutions</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>Professional and Qualified</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="services-details__designing-img">
                            <img src="assets/images/resources/services-details__designing-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="services-details__faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Architect Draws Sketches</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available, but the majority
                                            have suffered alteration in some form. Lipsum is simpluy free text
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Architect Draws Sketches</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available, but the majority
                                            have suffered alteration in some form. Lipsum is simpluy free text
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services Details End-->



{% endblock %}
