{% extends 'base.html.twig' %}

{% block content %}
    <!--Page Header Start-->
    <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Our team</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>Our team</li>
                </ul>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Team page Start-->
    <section class="team-one team-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-page-img-1.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">Rose Michale</h3>
                            <p class="team-one__title">Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-page-img-2.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">David Martin</h3>
                            <p class="team-one__title">founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="assets/images/team/team-page-img-3.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">jessica brown</h3>
                            <p class="team-one__title">architect</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
{#                    <!--Team One Single-->#}
{#                    <div class="team-one__single">#}
{#                        <div class="team-one__img-box">#}
{#                            <div class="team-one__img">#}
{#                                <img src="assets/images/team/team-page-img-4.jpg" alt="">#}
{#                                <div class="team-one__social">#}
{#                                    <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>#}
{#                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>#}
{#                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="team-one__content">#}
{#                            <h3 class="team-one__name">mike hardson</h3>#}
{#                            <p class="team-one__title">Designer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-xl-4 col-lg-6 col-md-6">#}
{#                    <!--Team One Single-->#}
{#                    <div class="team-one__single">#}
{#                        <div class="team-one__img-box">#}
{#                            <div class="team-one__img">#}
{#                                <img src="assets/images/team/team-page-img-5.jpg" alt="">#}
{#                                <div class="team-one__social">#}
{#                                    <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>#}
{#                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>#}
{#                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="team-one__content">#}
{#                            <h3 class="team-one__name">christine eve</h3>#}
{#                            <p class="team-one__title">Designer</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-xl-4 col-lg-6 col-md-6">#}
{#                    <!--Team One Single-->#}
{#                    <div class="team-one__single">#}
{#                        <div class="team-one__img-box">#}
{#                            <div class="team-one__img">#}
{#                                <img src="assets/images/team/team-page-img-6.jpg" alt="">#}
{#                                <div class="team-one__social">#}
{#                                    <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>#}
{#                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>#}
{#                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="team-one__content">#}
{#                            <h3 class="team-one__name">John smith</h3>#}
{#                            <p class="team-one__title">architect</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </section>
    <!--Team Page End-->


{% endblock %}
