{% extends 'base.html.twig' %}

{% block title %}Courriel de réinitialisation du mot de passe envoyé{% endblock %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="container">
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez
            utiliser a été envoyé.
            pour réinitialiser votre mot de passe.
            Ce lien expirera dans
            {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a
                    href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
{% endblock %}
