{% extends 'base.html.twig' %}

{% block content %}

    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->

    <section class="page-header" style="background-image: url(assets/images/backgrounds/main-slider-11.jpg);">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Styles de décorations</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_styles') }}">Styles de décoration</a></li>
                    <li><span>/</span></li>
                    <li>Style Scandinave</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                fin bandeau supérieur                                                                   -->

    <!--                                                        1 SECTION SCANDICRAFT  / IMGAGE 1170 X 505                                                    -->
    <section class="portfolio-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-details__img">
                        <img src="assets/images/styles/scandinavGd.png" alt="bel interieur simple style scandinave, ton clair">
                        <div class="portfolio-details__info">
                            <ul class="portfolio-details__info-list list-unstyled">
                                <li>Intérieur reposant</li>
                                <li>Bois & tissus</li>
                                <li>Fonctionnel</li>
{#                                <li>Réalisation en cours</li>#}
{#                                <li>#}
{#                                    <div class="portfolio-details__social">#}
{#                                        <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>#}
{#                                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>#}
{#                                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>#}
{#                                    </div>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-details__content">
                        <h2 class="portfolio-details__title">Scandicraft</h2>
                        <p class="portfolio-details__text-1">

                            Le style déco scandinave se distingue par sa simplicité élégante et son minimalisme fonctionnel.
                            Les éléments clés incluent l'utilisation de tons neutres tels que le blanc, le gris et le beige,
                            créant une atmosphère lumineuse et apaisante. Les lignes épurées et les formes géométriques simples
                            définissent le mobilier, souvent fabriqué à partir de matériaux naturels tels que le bois clair.
                            Les intérieurs scandinaves intègrent fréquemment des touches de couleur douce pour ajouter de la chaleur.
                            L'importance accordée à la lumière naturelle est également une caractéristique majeure, avec des fenêtres généreuses et des textiles légers.
                            L'accent est mis sur le confort avec l'ajout de textiles tels que des tapis en laine et des coussins moelleux.
                            Les accessoires décoratifs sont souvent des pièces artisanales ou vintage, ajoutant une touche d'authenticité.
                            En résumé, le style déco scandinave incarne la fonctionnalité, l'esthétique épurée et une connexion profonde avec la nature.</p>

                        <ul class="portfolio-details__list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Simplicité Élégante</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Palette de Couleurs Neutres</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p> Matériaux Naturels</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Formes Géométriques et Lignes Épurées</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p> Lumière Naturelle</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Accessoires Minimalistes et Artisanaux</p>
                                </div>
                            </li>
                        </ul>
                        <p class="portfolio-details__text-2"> Simplicité Élégante : Le style déco scandinave se caractérise par une esthétique épurée et minimaliste, favorisant la simplicité dans la conception.

                            Palette de Couleurs Neutres : Une utilisation prédominante de tons neutres tels que le blanc, le gris et le beige crée une atmosphère lumineuse et aérée.

                            Matériaux Naturels : L'utilisation de matériaux naturels, en particulier le bois clair, est une marque distinctive, apportant chaleur et authenticité à l'espace.

                            Formes Géométriques et Lignes Épurées : Le mobilier présente des lignes épurées et des formes géométriques simples, contribuant à l'esthétique moderne et fonctionnelle.

                            Lumière Naturelle : L'importance de la lumière naturelle est soulignée, avec des designs qui maximisent l'entrée de la lumière du jour à travers de grandes fenêtres.

                            Accessoires Minimalistes et Artisanaux : Les accessoires décoratifs sont souvent choisis avec soin, privilégiant des pièces minimalistes, artisanales ou vintage pour ajouter de l'individualité à l'espace.</p>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Portfolio Details End-->

    <!--                                                        2 SECTION NORDIQUE  / IMGAGE 1170 X 505                                                    -->
    <section class="portfolio-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-details__img">
                        <img src="assets/images/styles/nordiqueGd.png" alt="bel interieur simple style nordique, bois et matières blanches">
                        <div class="portfolio-details__info">
                            <ul class="portfolio-details__info-list list-unstyled">
                                <li>Intérieur confortable</li>
                                <li></li>
                                <li></li>
                                {#                                <li>Réalisation en cours</li>#}
                                {#                                <li>#}
                                {#                                    <div class="portfolio-details__social">#}
                                {#                                        <a href="#"><i class="fab fa-twitter"></i></a>#}
                                {#                                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>#}
                                {#                                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>#}
                                {#                                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>#}
                                {#                                    </div>#}
                                {#                                </li>#}
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-details__content">
                        <h2 class="portfolio-details__title">Nordique</h2>
                        <p class="portfolio-details__text-1">


                            Le style nordique peut parfois intégrer des nuances de couleurs plus froides, reflétant les paysages nordiques,
                            tandis que le style scandinave a tendance à mettre l'accent sur des tons plus chauds.
                            Il peut intégrer des formes et des motifs plus diversifiés, parfois inspirés par des éléments
                            culturels spécifiques à la région, tandis que le style scandinave peut avoir une approche plus épurée et minimaliste.
                            Mais aussi des éléments historiques plus variés


                        </p>

                        <ul class="portfolio-details__list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Influence Artisanale</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Formes Organiques et Courbes Douces </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p> Matériaux Naturels</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p>Formes Géométriques et Lignes Épurées</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
                                    <p> Palette de Couleurs Fraîches</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text-box">
{#                                    <p></p>#}
                                </div>
                            </li>
                        </ul>
                        <p class="portfolio-details__text-2">
                            Influence Artisanale : Le style nordique peut inclure des éléments artisanaux, tels que des textiles tissés à la main,
                            des céramiques et des objets fabriqués localement, ajoutant une touche personnelle et authentique.
                            Formes Organiques et Courbes Douces : Contrairement à la rigueur des lignes droites du style scandinave, le nordique peut incorporer
                            des formes plus organiques, avec des courbes douces et des designs ergonomiques.
                            Palette de Couleurs Fraîches : Le style nordique privilégie une palette de couleurs fraîches,
                            allant des blancs purs aux nuances de gris et de bleus doux, évoquant les paysages nordiques.

                            </p>

                    </div>
                </div>
            </div>
        </div>





    </section>
    <!--Portfolio Details End-->

{% endblock %}
