.cta-one {
    margin-top: -50px;
}

.news-text li {
    padding: 10px 10px
}

.news-details {
    padding-top: 50px;
}

.news-one {
    padding-top: 90px;
}

body {
    word-break: break-word;
}

#expert{
    opacity: 0.5;
}