
{%  set Apps = theme.theme %}


<div>

    <h3>Vos informations personnelles</h3>

    {{ include('client/_form.html.twig') }}

    {#        <a href="{{ path('app_client_index') }}">back to list</a>#}

</div>
